# EditorConfig is awesome: https://EditorConfig.org

root = true

# Core configuration for all files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Golang specific configuration
[*.go]
indent_style = tab
indent_size = 2

# Makefile specific configuration
[Makefile]
indent_style = tab

